$modal-background-color__green: #00a656;

.el-select__selected-green {
  .el-select-dropdown__item.selected {
    color: $modal-background-color__green!important;
  }
}

.modal.modal__green {
  button.el-button--success {
    background: $modal-background-color__green;
  }

  .modal-content {
    border: 0;
    border-radius: 0;

    .modal-header {
      background-color: $modal-background-color__green;
      color: white;
      line-height: 44px;
      font-size: 18px;
      padding: 0 15px 0 24px;
      font-weight: normal;
      font-style: normal;
      border: none;

      button.close {
        color: white;
        font-weight: normal;
        line-height: 44px;
        opacity: unset;
        font-size: 22px;
      }
    } //.modal-header

    .modal-body {
      padding: 46px 30px 15px 30px;
    }

    .modal-footer {
      border: none;
    } //.modal-footer
  } //.modal-content
}

.bootstrap-modal {
  .el-dialog {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0;

    &__header {
      padding: 15px;
      border-bottom: 1px solid #e5e5e5;
    }

    &__title {
      margin: 0;
      line-height: 1.6;
      font-size: 14px;
      color: #3E4855;
    }

    &__headerbtn {
      position: absolute;
      top: 12px;
      right: 12px;
      padding: 0;
      font-size: 14px;
      background: 0 0;
      border: none;
      outline: 0;
    }

    &__close {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.2);
    }
  }
}
