/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
composer.lock
loleaflet/
nextcloud/
/nextcloud/
/loleaflet/
src/storage/debugbar/
.vscode
/emails/dist
/emails/node_modules
laravel-echo-server.json
laravel-echo-server.lock
.history
.cache
.puppeteerrc.cjs