.appointment-modal {
  .el-dialog {
    width: auto;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0;

    @media (min-width: 768px) {
      width: 700px;
      margin: 30px auto;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
  }

  .el-dialog__header {
    display: none;
    visibility: hidden;
  }

  .dialog-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;

    .dialog-title {
      margin: 0;
      line-height: 1.6;
      font-size: 14px;
      color: #3E4855;
    }

    .dialog-headerbtn {
      position: absolute;
      top: 12px;
      right: 12px;
      padding: 0;
      font-size: 14px;
      background: 0 0;
      border: none;
      outline: 0;
      cursor: pointer;

      .el-icon-close {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .el-dialog__body {
    position: relative;
    padding: 0;
  }

  .dialog-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;

    .el-button {
      padding: 6px 12px;
      font-weight: 400;
      border: 1px solid transparent;
      line-height: 1.6;

      &.el-button--primary {
        color: #fff;

        &:hover,
        &:focus {
          color: #fff;
        }
      }

      &.el-button--secondary {
        color: #3E4855;
        background-color: #EFEFEF;
      }
    }
  }

  .el-loading-parent--relative {
    position: absolute !important;
    z-index: 2000;
    background-color: rgba(255, 255, 255, .9);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;

    .el-loading-mask {
      height: 100%;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      background: transparent;

      .el-loading-spinner {
        .circular {
          width: 80px;
          height: 80px;

          @media (max-width: 767px) {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }
}

.custom-form {
  padding: 15px;

  .el-form-item {
    margin-bottom: 15px;

    &.is-required:not(.is-no-asterisk) > .el-form-item__label {
      &:before {
        content: '' !important;
        margin-right: 0;
      }

      &:after {
        content: '*';
        color: #F56C6C;
        margin-left: 4px;
      }
    }

    .el-form-item__label {
      width: 100%;
      text-align: left;
      line-height: normal;
      padding: 0;
      text-transform: capitalize;
    }

    .el-input__inner {
      width: 100%;
      height: 36px;
      line-height: 36px;
      padding: 6px 12px;
      background-color: #fff;
      background-image: none;
      //border: 1px solid #a3aebc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .el-select {
      width: 100%;
    }

    .el-input--prefix {
      .el-input__inner {
        padding-left: 23px;
      }

      .el-input__prefix {
        left: 0;
      }
    }

    .el-input__suffix {
      right: 0;

      .el-select__caret {
        color: #555;
        font-weight: 700;
      }
    }

    .el-radio-group {
      .el-radio {
        .el-radio__label {
          color: #3e4855;
          font-weight: 700;
        }
      }
    }

    .el-textarea {
      .el-textarea__inner {
        padding: 6px 12px;
        resize: none;
        //border: 1px solid #a3aebc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }

      .el-input__count {
        right: 0;
        bottom: -20px;
        line-height: normal;
      }
    }
  }
}