.form-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0;

  &.disabled {
    .form-switch__slider {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

.form-switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.form-switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .form-switch__slider {
  background-color: #2ab27b;
}

input:focus + .form-switch__slider {
  box-shadow: 0 0 1px #2ab27b;
}

input:checked + .form-switch__slider:before {
  transform: translateX(26px);
}

.form-switch__slider.round {
  border-radius: 34px;
}

.form-switch__slider.round:before {
  border-radius: 50%;
}
