table {
  .is-sortable {
    cursor: pointer;
    padding-right: 30px;
    position: relative;

    &:after {
      position: absolute;
      bottom: 8px;
      right: 8px;
      display: block;
      font-family: 'Glyphicons Halflings';
      opacity: 0.5
    }
  }

  .sorting-none {
    &:after {
      opacity: 0.2;
      content: '\e150';
    }
  }

  .sorting-asc {
    &:after {
      content: '\e155';
    }
  }

  .sorting-desc {
    &:after {
      content: '\e156';
    }
  }

  .patient-col {
    width: 150px;
  }

  .date-col {
    width: 120px;
  }

  .partial-col {
    width: 105px;
  }

  .full-amount-col {
    width: 100px;
  }
}

.table-clickable {
    tbody > tr {
        &:hover {
            background: #e6e5e5;
            cursor: pointer;
        }
    }
}