/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.testing
_ide_helper.sdsd
.vscode
*.meta.php
package-lock.json
composer.phar
composer.lock
ecosystem.config.js
/data
/docker
docker-compose.yml
.cache
